* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    display: inline-flex;
    align-items: center;
    /*text-indent: 10px;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #D4D6D4;
    transition: color 0.3s ease-in-out;
}

.link svg {
    width: 12px;
    height: 12px;
    fill: currentColor;
}

.link span {
    text-indent: 8px;
    border-bottom: 1px solid currentColor;
}

.link:hover {
    color: #FFD723;
}

.header {
    position: absolute;
    padding-top: 24px;
    padding-bottom: 24px;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    padding: var(--offset-vertical) var(--offset-horizontal);
    background-color: #F5F6F7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.burger-line {
    position: absolute;
    left: var(--offset-horizontal);
    display: inline-block;
    top: var(--offset-vertical);
    width: calc(100% - var(--offset-horizontal)*2);
    height: 2px;
    background-color: black;
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}


.hero {
    padding-top: 189px;
    padding-bottom: 210px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-content {
    max-width: 600px;
    color: #FFFFFF;
}

.hero-title {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}


.hero-descr {
    margin: 0 0 45px;
    font-size: 16px;
    line-height: 26px;
}

.hero-link {
    color: #FFD723;
}