* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    display: inline-flex;
    align-items: center;
    /*text-indent: 10px;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #D4D6D4;
    transition: color 0.3s ease-in-out;
}


.link svg {
    width: 12px;
    height: 12px;
    fill: currentColor;
}

.link span {
    text-indent: 4px;
    border-bottom: 1px solid currentColor;
}

.link:hover {
    color: #FFD723;
}


.site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.header {
    position: absolute;
    padding-top: 24px;
    padding-bottom: 24px;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    padding: var(--offset-vertical) var(--offset-horizontal);
    background-color: #F5F6F7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.burger-line {
    position: absolute;
    left: var(--offset-horizontal);
    display: inline-block;
    top: var(--offset-vertical);
    width: calc(100% - var(--offset-horizontal)*2);
    height: 2px;
    background-color: black;
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}


.hero {
    padding-top: 189px;
    padding-bottom: 210px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-content {
    max-width: 600px;
    color: #FFFFFF;
}

.hero-title {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}


.hero-descr {
    margin: 0 0 45px;
    font-size: 16px;
    line-height: 26px;
}

.hero-link {
    color: #FFD723;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-title {
    margin: 0 0 60px;
    max-width: 606px;
}

.services-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
    margin: 0 0 20px;
    max-width: 183px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr {
    margin: 0 0 56px;
    max-width: 194px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-item {
    display: flex;
    flex-direction: column;
}

.services-link {
    margin-bottom: 110px;
    margin-top: auto;
}


.get-started {
    position: relative;
    top: 180px;
    padding: 70px 0;
    width: 88%;
    background-color: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-link {
    text-transform: uppercase;
}

.get-started-title {
    margin: 0 0 50px;
    max-width: 822px;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.footer {
    padding-top: 300px;
    color: #FFFFFF;
    background-image: url("../img/Bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-contacts-text {
    margin-bottom: 8px;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-contacts-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5D6544;
}

.footer-contacts-item:not(:last-child) {
    margin-right: 128px;
}

.footer-title {
    margin: 0 0 21px;
    font-size: 16px;
    line-height: 38px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    text-decoration: none;
}

.footer-middle {
    --grid-gap: 70px;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0;
    border-bottom: 1px solid #5D6544;
}

.footer-text {
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
}

.footer-email {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-column:last-child {
    position: relative;
}


.footer-column:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--grid-gap)));
    width: 1px;
    height: 100%;
    background-color: #5D6544;
}

.social-link {
    display: block;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFD723;
    background-size: 21px auto;
    opacity: 0.4;
    transition:opacity 0.3s ease-in-out;
}
.social-link:hover {
    opacity: 1;
}

.social-link-fb {
    background-image: url("../img/facebook.svg");
}

.social-link-tw {
    background-image: url("../img/twitter.svg");
}


.social-link-g {
    background-image: url("../img/google-plus.svg");
}

.social-link-in {
    background-image: url("../img/linkedin.svg");
}


.social {
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 11px;
}

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

.footer-botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}